---
layout: single
title: "Course Projects"
permalink: /course-projects/
author_profile: true
---

{% include base_path %}
{% include project-styles.html %}

<style>
  /* Hide all project content by default */
  .project-content-wrapper .project-content {
    display: none;
  }
  
  /* Show content when corresponding tab is checked */
  #tab-higoc:checked ~ .project-content-wrapper #higoc {
    display: block;
  }
  
  /* Style active tab label when corresponding radio is checked */
  #tab-higoc:checked ~ .project-tabs label[for="tab-higoc"] {
    color: var(--global-link-color);
    border-bottom-color: var(--global-link-color);
    font-weight: 600;
  }
</style>

<div class="project-tabs-container">
  <input type="radio" id="tab-higoc" name="project-tabs" class="project-tab-input" checked>
  
  <div class="project-tabs">
    <label for="tab-higoc" class="project-tab-label">HiGOC</label>
  </div>
  
  <div class="project-content-wrapper">
    {% include projects/higoc.html %}
  </div>
</div>
